<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                login
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="./musica">
                Música
            </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="./noticias">
                Noticias
            </a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="">
                Juegos
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="">
                Peliculas
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="     ">
                Login
            </a>
        </li>
    </ul>

</div>